extends layout

block content
  section(ng-controller='HomeController')
    md-content(id='projectResults')
      div(layout='column', layout-fill)
        md-whiteframe(class='frames md-whiteframe-z1', layout='row', layout-align='space-between center', ng-repeat='project in projects', ng-click='showLinkDetails(link.id)', ng-mouseenter='expand()', ng-mouseleave='shrink()')
          p
            a(href='{{project.url}}') {{project.title}}
          p {{link.keyword_list}}