extends layout

block content
  section(ng-controller='HomeController')
    md-content(id='projectResults',layout='column', layout-fill)
      md-whiteframe(ng-class='{"md-whiteframe-z4": project.up, "md-whitframe-z1": !project.up}', class='frames', layout='row', layout-align='space-between center', ng-click=' ', ng-mouseenter='project.up = true', ng-mouseleave='project.up = false')
        div(class='votes') 
          span(class="ion-chevron-up")
          p 12
          span(class="ion-chevron-down")
        p(class='projectName') project name
        div(class='comments') 
          span(class="ion-ios-chatbubble")
          p 12
      md-whiteframe(ng-class='{"md-whiteframe-z4": project.up, "md-whitframe-z1": !project.up}', class='frames', layout='row', layout-align='space-between center', ng-click=' ', ng-mouseenter='project.up = true', ng-mouseleave='project.up = false')
        div(class='votes') 
          span(class="ion-chevron-up")
          p 12
          span(class="ion-chevron-down")
        p(class='projectName') project name
        div(class='comments') 
          span(class="ion-ios-chatbubble")
          p 12
      