extends layout

block content
  section(id='projectResults', ng-controller='HomeController', layout='column', layout-fill)
    md-whiteframe(ng-class='{"md-whiteframe-z4": project.isUp, "md-whitframe-z1": !project.isUp}', ng-repeat='project in projects', class='frames', layout='row', layout-align='space-between center', ng-click=' ', ng-mouseenter='project.isUp = true', ng-mouseleave='project.isUp = false')
      div(class='votes') 
        span(class="ion-chevron-up upVote" ng-click="up(project)")
        p {{project.upvotes - project.downvotes}}
        span(class="ion-chevron-down downVote" ng-click="down(project)")
      p(class='projectName', ng-click="open(project)") {{project.name}}
      div(class='comments', ng-click="showComments()") 
        span(class="ion-ios-chatbubble")
        p 12