extends layout

block content
  section(ng-controller='HomeController')
    md-content(id='projectResults',layout='column', layout-fill)
      md-whiteframe(class='frames md-whiteframe-z1', layout='row', layout-align='space-between center', ng-click=' ', ng-mouseenter='expand()', ng-mouseleave='shrink()')
        div(class='votes') 
          span(class="ion-chevron-up")
          p 12
          span(class="ion-chevron-down")
        p(class='projectName') project name
        div(class='comments') 
          span(class="ion-ios-chatbubble")
          p 12
      md-whiteframe(class='frames md-whiteframe-z1', layout='row', layout-align='space-between center', ng-click=' ', ng-mouseenter='expand()', ng-mouseleave='shrink()')
        div(class='votes') 
          span(class="ion-chevron-up")
          p 12
          span(class="ion-chevron-down")
        p(class='projectName') project name
        div(class='comments') 
          span(class="ion-ios-chatbubble")
          p 12
      