doctype html
html(ng-app='voteful')
  head
    title= title
    link(rel='stylesheet', href='/packages/angular-material/angular-material.css')
    link(rel='stylesheet', href='/packages/ionicons/css/ionicons.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/packages/angular/angular.min.js')
    script(src='/packages/hammerjs/hammer.min.js')
    script(src='/packages/angular-aria/angular-aria.min.js')
    script(src='/packages/angular-animate/angular-animate.min.js')
    script(src='/packages/angular-material/angular-material.min.js')
    script(src='/javascripts/index.js')
  body
    md-toolbar(class='md-tall', md-scroll-shrink)
      span(flex)
      div(class='header', layout='column', layout-fill)
        h2 Voteful
        p brought to you by Thinkful
    md-content(class='backdrop')
      block content
      footer(id='logoFooter')
        img(id='thinkfulLogo', src='images/thinkful.svg', alt='thinkful logo')