html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing:border-box; 
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
  cursor:pointer;
  outline:none;
}

/*end reset*/


header {
	width:100%;
	height:175px;
  text-align:center;
}

#headerText {
  margin-top:125px;
	text-align: center;
	float:left;
  width:100%;
} 

#headerText h1 {
  font-size:2em;
}

#headerText p {
  font-size:1em;
}

#mainContent {
	margin-top:25px;
  margin-bottom:60px;
}

#logoFooter {
  width:100%;
	text-align:center;
	margin-top:-30px;
	position:fixed;
	bottom:0;
	z-index:70;
}


#logoFooter img {
	width:10%;
  height:25px;
  margin-bottom:15px;
}

#slackLogo {
  margin-left:10%;
  float:left;
}

#thinkfulLogo {
  margin-right:10%;
  float:right;
}

.pageHeading {
  font-size:1.5em;
  text-align:center;
}

#projectResults {
  width:60%;
  margin:0 auto;
}

#messageLabel {
  vertical-align:top;
}

.frames {
  margin: 10px;
  padding: 20px;
}

.comments p {
  display:inline;
}

.upVote, .downVote, .comments { 
	cursor:pointer;
}